.grid-container-artists {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-column-artists {
  display: grid;
}
.grid-element-artists {
  min-height: 66vh;
  position: relative;
  overflow: hidden;
  outline: var(--border);
  outline-offset: -0.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.grid-element-artists img {
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.grid-element-artists p {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.grid-element-artists:hover p {
  transition: opacity 0s;
  opacity: 0;
}
.grid-element-artists:hover img {
  opacity: 1;
}

.rineke {
  object-position: 50% 100% !important;
}

.grid-element-artists .image-canvas {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.image-canvas {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.grid-element-artists:has(.artist-img.active) .image-canvas {
  opacity: 1;
}

.grid-element-artists:has(.artist-img.active) p {
  opacity: 0;
}

@media (max-width: 768px) {
  .grid-container-artists {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .grid-element-artists img {
    display: none;
  }
}
