.grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
}
.grid-column {
  display: grid;
}
.grid-left {
  grid-template-rows: 1.5fr 1fr;
  grid-template-columns: 1fr 0.5fr;
}
.grid-left .grid-element:first-child {
  grid-column: span 2;
}
.grid-mid {
  grid-template-rows: 3fr 2fr 1fr;
}
.grid-right {
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}
.grid-right .grid-element p:first-child {
  margin-bottom: 0.5vh;
}
.grid-element {
  min-height: 20vh;
  position: relative;
  overflow: hidden;
  outline: var(--border);
  outline-offset: -0.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.grid-element img {
  z-index: -1;
}
.grid-element.diagonal {
  background: linear-gradient(
    to bottom right,
    transparent calc(50% - 1px),
    black 50%,
    transparent calc(50% + 1px)
  );
}
.grid-element.diagonal-two,
.grid-element-artists.diagonal-two {
  background:
    linear-gradient(
      to bottom right,
      transparent calc(50% - 1px),
      black 50%,
      transparent calc(50% + 1px)
    ),
    linear-gradient(
      to bottom left,
      transparent calc(50% - 1px),
      black 50%,
      transparent calc(50% + 1px)
    );
}
.grid-element-artists.diagonal-two p,
.grid-element-artists.diagonal-two img {
  opacity: 0;
  visibility: hidden;
}
.grid-element-artists.diagonal-two {
  pointer-events: none;
}
.grid-element:has(button, a) * {
  outline: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}
.grid-element:has(button, a) *:hover {
  outline: none;
}
.grid-element:has(button, a):hover {
  background:
    linear-gradient(
      to bottom right,
      transparent calc(50% - 1px),
      black 50%,
      transparent calc(50% + 1px)
    ),
    linear-gradient(
      to bottom left,
      transparent calc(50% - 1px),
      black 50%,
      transparent calc(50% + 1px)
    );
}
.grid-element p {
  margin: 0;
  padding: 0 1vw;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-left {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
  .grid-mid {
    grid-template-rows: auto;
  }
  .grid-right {
    grid-template-rows: auto;
  }
}
