:root {
  --primary-color: cornflowerblue;
  --secondary-color: black;

  --border: 2px solid var(--secondary-color);
}

* {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  letter-spacing: 0.3vw;
  font-size: clamp(26px, 2vw, 64px);
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--primary-color);
}
