:root {
  --primary-color: cornflowerblue;
  --secondary-color: black;

  --border: 2px solid var(--secondary-color);
}

* {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  letter-spacing: 0.3vw;
  font-size: clamp(26px, 2vw, 64px);
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--primary-color);
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.hover-animation {
  border: none;
  outline: 2px solid var(--primary-color);
  border-radius: 6px;
  display: block;
  transition: outline 0.16s ease;
  padding: clamp(3px, 0.3vw, 9px) clamp(6px, 0.9vw, 12px);
}
.hover-animation:hover {
  cursor: pointer;
  outline: 2px solid var(--secondary-color);
}
