.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 10;
}
.nav-container {
  width: 100%;
  height: 8vh;
  border-bottom: var(--border);

  position: relative;
  display: flex;
}
.navbar-brand {
  border-right: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 100%;
  padding: 0 1vw;
}

.navbar-links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
.nav-btn {
  border: none;
  display: block;
}
.nav-burger {
  display: none;
}
.nav-curtain {
  position: absolute;
  inset: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--primary-color);
  z-index: 1;
  transform: translateY(-120%);
  border-bottom: var(--border);
  transition: transform 0.2s ease;
}
.curtain-container {
  display: none;
}

/*  */
/*  */

@media screen and (max-width: 768px) {
  .navbar-brand {
    border-right: none;
  }
  .nav-btn {
    display: none;
  }
  .kunsthuis-btn {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    font-size: larger;
  }
  .nav-burger {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    border: none;
    align-items: center;
    background: none;
  }
  .nav-burger img {
    height: 80%;
    width: auto;
    border-radius: 6px;
  }
  .nav-burger img:active,
  .nav-exit img:active {
    outline: var(--border);
  }

  .nav-curtain.active {
    transform: translateY(0%);
  }
  .curtain-container {
    gap: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
  }
  .nav-exit {
    position: absolute;
    height: 7vh;
    background: none;
    border: none;
    top: 3px;
    right: -3px;
  }
  .nav-exit img {
    width: auto;
    height: 100%;
    border-radius: 6px;
  }
  .curtain-btn {
    display: flex;
    position: inherit;
    transform: none;
    justify-self: center;
  }
  .event-btn {
    margin-top: 3vh;
  }
}
